In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200720074034-0000
KERNEL_ID = a32563b1-a680-4a91-845c-b958a444c15f

,SEL,REG.NO,DOB,S.S,NAME,GOTHRAM,STAR,HT,QUAL,JOB,PLACE,INCOME,PA,QUAL.1,JOB.1,SS,JOB LOC
0,NaN,180562/93,30/09/93,V,ARAVIND VIKIRAM,VADULAM,UTHIRATTADHI,5.7,"B.TECH, (MBA)",ERICSSON INDIA,CHENNAI,70000,B,GR,P,NB,NaN
1,NaN,180590/93,25/05/93,B,SHRAVAN,KOUNDINYA,P.POOSAM,5.8,BE (CIVIL),BHIM ENGINEER,BANGALORE,65000,B,GR,P,NB,NaN
2,NaN,180592/93,03/06/93,V,RAMA SUBRAMANIAN,SRIVATSAM,VISAGAM,5.1,"BE (MECH), APSCM (IIM)",PENNAR INDUSTRIES LIMITED,CHENNAI,50000,B,GR,O,NB,NaN
3,NaN,180617/93,11/10/93,V,GOUTHAM,VISHVAMITHRAR,AYILYAM,5.9,"B.COM, MBA, LLB",E&Y,BANGALORE,62500,B,ANY,P,NB,NaN
4,Y,180626/93,01/05/93,V,ARUN GOVINDARAJAN,SRIVATSAM,MAGAM -4,5.5,"B.COM, ACA, M.SC (F & A) , CPA",KPMG,BANGALORE,150000,B,PROF / PG,P,NB,NaN